<template>
  <div @click="checkClick" ref="invoiceWrap" class="invoice-wrap flex flex-column">
      <form @submit.prevent="submitForm" class="invoice-content">
          <Loading v-show="loading"/>
          <h1 v-if="!editInvoice">Nueva Factura</h1>
          <h1 v-if="editInvoice">Editar Factura</h1>

          <!-- Bill From -->
          <div class="bill-from flex flex-column">
              <h4>Emitente</h4>
              <div class="input flex flex-column">
                  <label for="billerStreetAddress">Dirección</label>
                  <input type="text" required id="billerStreetAddress" v-model="billerStreetAddress">
              </div>
              <div class="location-details flex">
                  <div class="input flex flex-column">
                  <label for="billerCity">Ciudad</label>
                  <input type="text" required id="billerCity" v-model="billerCity">
              </div>
              <div class="input flex flex-column">
                  <label for="billerZipCode">Código Postal</label>
                  <input type="text" required id="billerZipCode" v-model="billerZipCode">
              </div>
              <div class="input flex flex-column">
                  <label for="billerCountry">País</label>
                  <input type="text" required id="billerCountry" v-model="billerCountry">
              </div>
              </div>
          </div>

          <!-- Bill To -->
          <div class="bill-to flex flex-column">
              <h4>Cliente</h4>
              <div class="input flex flex-column">
                  <label for="clientName">Nombre</label>
                  <input type="text" required id="clientName" v-model="clientName">
              </div>
              <div class="input flex flex-column">
                  <label for="clientEmail">Email</label>
                  <input type="text" required id="clientEmail" v-model="clientEmail">
              </div>
              <div class="input flex flex-column">
                  <label for="clientStreetAddress">Dirección</label>
                  <input type="text" required id="clientStreetAddress" v-model="clientStreetAddress">
              </div>
              <div class="location-details flex">
                  <div class="input flex flex-column">
                  <label for="clientCity">Ciudad</label>
                  <input type="text" required id="clientCity" v-model="clientCity">
              </div>
              <div class="input flex flex-column">
                  <label for="clientZipCode">Código Postal</label>
                  <input type="text" required id="clientZipCode" v-model="clientZipCode">
              </div>
              <div class="input flex flex-column">
                  <label for="clientCountry">País</label>
                  <input type="text" required id="clientCountry" v-model="clientCountry">
              </div>
              </div>
          </div>

          <!-- Invoice Work Details -->
          <div class="invoice-work flex flex-column">
              <div class="payment flex">
                  <div class="input flex flex-column">
                  <label for="invoiceDate">Fecha de emisión</label>
                  <input type="text" disabled id="invoiceDate" v-model="invoiceDate">
              </div>
              <div class="input flex flex-column">
                  <label for="paymentDueDate">Fecha de pago</label>
                  <input type="text" disabled id="paymentDueDate" v-model="paymentDueDate">
              </div>
              </div>
              <div class="input flex flex-column">
                  <label for="paymentTerms">Término de pago</label>
                  <select type="text" required id="paymentTerms" v-model="paymentTerms">
                      <option value="30">30 Dias</option>
                      <option value="60">60 Dias</option>
                  </select>
              </div>
              <div class="input flex flex-column">
                  <label for="productDescription">Descripción de Producto</label>
                  <input type="text" required id="productDescription" v-model="productDescription">
              </div>
              <div class="work-items">
                  <h3>Lista de ítems</h3>
                  <table class="item-list">
                      <tr class="table-heading flex">
                          <th class="item-name" >Nombre</th>
                          <th class="qty" >Cantidad</th>
                          <th class="price" >Precio</th>
                          <th class="total" >Total</th>
                      </tr>
                      <tr class="table-items flex" v-for="(item, index) in invoiceItemList" :key="index">
                        <td class="item-name"><input type="text" v-model="item.itemName" ></td>
                        <td class="qty"><input type="text" v-model="item.qty" ></td>
                        <td class="price"><input type="text" v-model="item.price" ></td>
                        <td class="total">${{item.total = item.qty * item.price}}</td>
                        <img @click="deleteInvoiceItem(item.id)" src="../assets/icon-delete.svg" alt="">
                      </tr>
                  </table>
                  <div @click="addNewInvoiceItem" class="flex button">
                      <img src="../assets/icon-plus.svg" alt="">
                      Agregar nuevo Item
                  </div>
              </div>
          </div>

          <!-- Save/Exit -->
          <div class="save flex">
              <div class="left">
                  <button type="button" @click="closeInvoice" class="red">Cancelar</button>
              </div>
              <div class="right flex">
                  <button v-if="!editInvoice" type="submit" @click="saveDraft" class="dark-purple">Guardar Borrador</button>
                  <button v-if="!editInvoice" type="submit" @click="publishInvoice" class="purple">Crear</button>
                  <button v-if="editInvoice" type="submit" class="purple">Actualizar</button>
              </div>
          </div>
      </form>
  </div>
</template>

<script>
import Loading from '../components/Loading'
import db from '../firebase/firebaseInit'
import {mapMutations, mapState, mapActions} from 'vuex'
import {uid} from 'uid'
export default {
    name: "InvoiceModal",
    data() {
        return {
      dateOptions: { year: "numeric", month: "short", day: "numeric" },
      docId: null,
      loading: null,
      billerStreetAddress: null,
      billerCity: null,
      billerZipCode: null,
      billerCountry: null,
      clientName: null,
      clientEmail: null,
      clientStreetAddress: null,
      clientCity: null,
      clientZipCode: null,
      clientCountry: null,
      invoiceDateUnix: null,
      invoiceDate: null,
      paymentTerms: null,
      paymentDueDateUnix: null,
      paymentDueDate: null,
      productDescription: null,
      invoicePending: null,
      invoiceDraft: null,
      invoiceItemList: [],
      invoiceTotal: 0,       
      }
    },
    components:{
        Loading        
    },
    created() {
        if(!this.editInvoice){
            // get current date for invoice field
            this.invoiceDateUnix = Date.now();
            this.invoiceDate = new Date(this.invoiceDateUnix)
                .toLocaleString('en-us', this.dateOptions);
        }
        if(this.editInvoice){
            const currentInvoice = this.currentInvoiceArray[0];
            this.docId = currentInvoice.docId;
      this.billerStreetAddress = currentInvoice.billerStreetAddress;
      this.billerCity = currentInvoice.billerCity;
      this.billerZipCode = currentInvoice.billerZipCode;
      this.billerCountry = currentInvoice.billerCountry;
      this.clientName = currentInvoice.clientName;
      this.clientEmail = currentInvoice.clientEmail;
      this.clientStreetAddress = currentInvoice.clientStreetAddress;
      this.clientCity = currentInvoice.clientCity;
      this.clientZipCode = currentInvoice.clientZipCode;
      this.clientCountry = currentInvoice.clientCountry;
      this.invoiceDateUnix = currentInvoice.invoiceDateUnix;
      this.invoiceDate = currentInvoice.invoiceDate;
      this.paymentTerms = currentInvoice.paymentTerms;
      this.paymentDueDateUnix = currentInvoice.paymentDueDateUnix;
      this.paymentDueDate = currentInvoice.paymentDueDate;
      this.productDescription = currentInvoice.productDescription;
      this.invoicePending = currentInvoice.invoicePending;
      this.invoiceDraft = currentInvoice.invoiceDraft;
      this.invoiceItemList = currentInvoice.invoiceItemList;
      this.invoiceTotal = currentInvoice.invoiceTotal;
        }
},
    methods: {
        ...mapMutations(['TOGGLE_INVOICE', 'TOGGLE_MODAL','TOGGLE_EDIT_INVOICE']),

        ...mapActions(['UPDATE_INVOICE','GET_INVOICES']),

        closeInvoice(){
            this.TOGGLE_INVOICE();
            if(this.editInvoice){
                this.TOGGLE_EDIT_INVOICE();
            }
        },

        checkClick(e){
            if(e.target === this.$refs.invoiceWrap){
                this.TOGGLE_MODAL();
            }
        },

        addNewInvoiceItem(){
            this.invoiceItemList.push({
                id: uid(),
                itemName: '',
                qty: '',
                price: 0,
                total: 0,
            })
        },

        deleteInvoiceItem(id){
            this.invoiceItemList = this.invoiceItemList.filter(item => item.id !== id)},

        calInvoiceTotal(){
            this.invoiceTotal = 0;
            this.invoiceItemList.forEach(item =>
            {this.invoiceTotal += item.total}
            )},
        
        publishInvoice(){
            this.invoicePending = true;
        },
        saveDraft(){
            this.invoiceDraft = true;
        },

        async uploadInvoice() {
      if (this.invoiceItemList.length <= 0) {
        alert("Por favor, rellena todos los campos o agrega ítems a la factura.");
        return;
      }

      this.loading = true;

      this.calInvoiceTotal();

      const dataBase = db.collection("invoices").doc();

      await dataBase.set({
        invoiceId: uid(6),
        billerStreetAddress: this.billerStreetAddress,
        billerCity: this.billerCity,
        billerZipCode: this.billerZipCode,
        billerCountry: this.billerCountry,
        clientName: this.clientName,
        clientEmail: this.clientEmail,
        clientStreetAddress: this.clientStreetAddress,
        clientCity: this.clientCity,
        clientZipCode: this.clientZipCode,
        clientCountry: this.clientCountry,
        invoiceDate: this.invoiceDate,
        invoiceDateUnix: this.invoiceDateUnix,
        paymentTerms: this.paymentTerms,
        paymentDueDate: this.paymentDueDate,
        paymentDueDateUnix: this.paymentDueDateUnix,
        productDescription: this.productDescription,
        invoiceItemList: this.invoiceItemList,
        invoiceTotal: this.invoiceTotal,
        invoicePending: this.invoicePending,
        invoiceDraft: this.invoiceDraft,
        invoicePaid: null,
      });
        
        this.loading = false

        this.TOGGLE_INVOICE();
        
        this.GET_INVOICES();

    },


     async updateInvoice() {
      if (this.invoiceItemList.length <= 0) {
        alert("Por favor, rellena todos los campos o agrega ítems a la factura.");
        return;
      }

      this.loading = true;

      this.calInvoiceTotal();

      const dataBase = db.collection("invoices").doc(this.docId);

       await dataBase.update({
        billerStreetAddress: this.billerStreetAddress,
        billerCity: this.billerCity,
        billerZipCode: this.billerZipCode,
        billerCountry: this.billerCountry,
        clientName: this.clientName,
        clientEmail: this.clientEmail,
        clientStreetAddress: this.clientStreetAddress,
        clientCity: this.clientCity,
        clientZipCode: this.clientZipCode,
        clientCountry: this.clientCountry,
        paymentTerms: this.paymentTerms,
        paymentDueDate: this.paymentDueDate,
        paymentDueDateUnix: this.paymentDueDateUnix,
        productDescription: this.productDescription,
        invoiceItemList: this.invoiceItemList,
        invoiceTotal: this.invoiceTotal,
      });
        

        this.loading = false

        const data = {
            docId: this.docId,
            routeId: this.$route.params.invoiceId
        }

        this.UPDATE_INVOICE(data);
    },
        

        submitForm(){
            if(this.editInvoice){
                this.updateInvoice();
                return
            }
            this.uploadInvoice();
        }
    },
    computed: {
        ...mapState(['editInvoice','currentInvoiceArray'])
    },
    watch: {
        paymentTerms(){
            const futureDate = new Date();
            this.paymentDueDateUnix = futureDate.setDate(futureDate.getDate() + parseInt(this.paymentTerms));
            this.paymentDueDate = new Date(this.paymentDueDateUnix).toLocaleDateString('en-us', this.dateOptions)
        }    
    }
}
</script>

<style lang="scss" scoped>

    .invoice-wrap{
        position: fixed;
        z-index: 1;
        top: 50px;
        left: 0;
        background-color: transparent;
        width: 100%;
        height: 100vh;
        overflow:scroll;
        @media(min-width: 900px){
            left: 90px;
            top:0;
        }
        &::-webkit-scrollbar {
            display: none;
        }

        .invoice-content{
            position:relative;
            padding: 56px;
            max-width: 700px;
            width: 100%;
            background-color: #141625;
            color: #fff;
            box-shadow: 10px 4px 6px -1px rgba(0,0,0,0.2), 0 2px 4px -1px rgba(0,0,0,0.86);

            h1{
                margin-bottom: 48px;
                color:#fff;
            }

            h3{
                margin-bottom: 16px;
                font-size: 18px;
                color: #777f98;
            }

            h4{
                color: #7c5dfa;
                font-size: 12px;
                margin-bottom: 24px;
            }

            //Bill to // Bill from
            .bill-to,
            .bill-from{
                margin-bottom: 48px;

                .location-details{
                    gap: 16px;
                    div{
                        flex:1;
                    }
                }
            }

            // Invoice work
            .invoice-work{
                .payment{
                    gap: 24px;
                    div{
                        flex:1;
                    }
                }

                .work-items{
                    .item-list{
                        width:100%;

                        // item table
                        .table-heading,
                        .table-items{
                            gap:16px;
                            font-size: 12px;

                            .item-name{
                                flex-basis: 50%;
                            }
                            .qty{
                                flex-basis: 10%;
                            }
                            .price{
                                flex-basis: 20%;
                                align-self: center;
                            }
                            .total{
                                align-self: center;
                            }
                        }

                        .table-heading{
                           margin-bottom: 16px;
                           
                           th{
                               text-align: left;
                           }
                        }

                        .table-items{
                            position:relative;
                            margin-bottom: 24px;

                            img{
                                cursor: pointer;
                                position:absolute;
                                top: 15px;
                                right: 0;
                                width: 12px;
                                height: 16px;
                            }
                        }
                    }

                    .button{
                        color: #fff;
                        background-color: #252945;
                        align-items: center;
                        justify-content: center;
                        width: 100%;

                        img{
                            margin-right: 4px;
                        }
                    }
                }
            }

            .save{
                    margin-top: 60px;

                    div{
                        flex:1;
                    }

                    .right{
                        justify-content: flex-end;
                    }
                }
        }
        .input{
            margin-bottom: 24px;
        }
        label{
            font-size: 12px;
            margin-bottom: 6px;
        }
        input,
        select{
            width: 100%;
            background-color: #1e2139;
            color: #fff;
            border-radius: 4px;
            padding: 12px 4px;
            border: none;

            &:focus{
                outline:none;
            }
        }
    }

</style>